<!DOCTYPE html>
<html>
<head>
  <title>Contents of user dir {{ uid }}</title>
  <meta charset="utf-8">
</head>
<body>
  <h1>Contents of user dir {{ uid }}</h1>
  <ul>
    {% for file in children %}
      <li><a href="/files/{{ uid }}/{{ file.stem }}">{{ file.stem }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>
