<!DOCTYPE html>
<html>
<head>
  <title>funzip server status</title>
  <meta charset="utf-8">
</head>
<body>
  <h1>funzip server status</h1>
  <p><strong>System info: </strong>{{ uname }}</p>
  <p><strong>Uptime: </strong>{{ uptime }}</p>
  <p><strong>Admin UUID: </strong>{{ admin_uuid }}</p>
</body>
</html>
