/* style.css */

/* Body styles */
body {
  background-image: url('clouds.jpg'); /* Using clouds.png for the background */
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navigation styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Centering the navigation links */
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* Content styles */
.plane-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible grid with max 300px width for each plane */
  grid-gap: 20px;
  justify-content: center; /* Centering the grid items */
  align-items: center; /* Centering vertically */
  padding: 20px; /* Add padding to the grid */
}

.plane {
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Adding white background to each plane for better visibility */
  padding: 20px;
}

.plane-image {
  width: 100%;
}

.plane-image img {
  max-width: 100%; /* Limiting the image width to fit its container */
  height: auto;
}

.plane-details {
  flex: 1;
  padding-top: 20px; /* Adding padding between image and details */
}

.description {
  margin-top: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .plane-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjusting grid for smaller screens */
  }
}


/* style.css */

/* Content styles */
.plane-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.plane {
  display: flex;
  flex-direction: column;
}

.plane img {
  width: 100%;
  height: auto;
}

.plane-details {
  padding-top: 10px;
}

/* Error message style */
.error {
  color: red;
}

/* Add centering for content */
h1, h2, .error {
  text-align: center;
}


#head {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 32;
}



/* Add this to your styles.css file */

.create-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.create-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-create {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-create:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
  font-weight: bold;
}


/* Add this to your styles.css file */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-login {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
  font-weight: bold;
}


/* Add this to your styles.css file */

.edit-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.edit-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-edit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
  font-weight: bold;
}



/* Add this to your styles.css file */

.bot-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.bot-form {
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding and border don't increase element's width */
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
