<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
  <ul>
    <li><a href="/home">Home</a></li>

    {% if session.get("username") is not none %}
    <li><a href="/create">Create</a></li>
    <li><a href="/logout">Logout</a></li>
    {% else %}
    <li><a href="/login">Login</a></li>
    {% endif %}

    {% if own %}
    <li><a href="/edit/{{ pid }}">Edit</a></li>
    {% endif %}

    <li><a href="/bot">Admin bot</a></li>

  </ul>
</nav>

<section class="content">{% block content %}{% endblock %}</section>
</body>
</html>
