{% extends 'base.html' %}
{% block title %}Bot Page{% endblock %}
{% block content %}
<div class="bot-container">
  <h1>Bot Page</h1>
  <p>Enter a URL:</p>
  <form action="/bot" method="POST" class="bot-form">
    <input type="text" name="url" placeholder="Enter URL" required>
    <input type="submit" value="Submit">
  </form>
  
  {% if string %}
  <div class="result">
    <h2>Result:</h2>
    <p>{{ string }}</p>
  </div>
  {% endif %}
</div>
{% endblock %}
