{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block content %}
<div class="create-container">
  <h1>Create</h1>
  {% if error %}
  <p class="error"><strong>Error: </strong>{{ error }}</p>
  {% endif %}
  <form action="/create" method="POST" class="create-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Plane name" required>
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      <input type="text" id="image" name="image" placeholder="https://example.com/image.jpg" required>
    </div>
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="text" id="year" name="year" placeholder="2000" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" placeholder="Description (Supports Markdown)" required></textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Create" class="btn-create">
    </div>
  </form>
</div>
{% endblock %}
