{% extends 'base.html' %}
{% block title %}Edit {{ name }}{% endblock %}
{% block content %}
<div class="edit-container">
  <h1>Edit {{ name }}</h1>
  {% if error %}
  <p class="error"><strong>Error: </strong>{{ error }}</p>
  {% endif %}
  <form action="/edit/{{ id }}" method="POST" class="edit-form">
    <input type="hidden" name="id" value="{{ id }}" required>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Plane name" value="{{ name }}" required>
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      <input type="text" id="image" name="image" placeholder="https://example.com/image.jpg" value="{{ image }}" required>
    </div>
    <div class="form-group">
      <label for="year">Year:</label>
      <input type="text" id="year" name="year" placeholder="2000" value="{{ year }}" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" placeholder="Description (Supports Markdown)" required>{{ description }}</textarea>
    </div>
    <div class="form-group">
      <input type="submit" value="Edit" class="btn-edit">
    </div>
  </form>
</div>
{% endblock %}
