{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 style="text-align: center;">Home</h1>

<h2 style="text-align: center;">Search!</h2>

<center>
<div style="text-align: center;">
  <form action="/search" method="post" style="display: inline-block;">
    <span>
      <input type="text" name="search" {% if query is not none %}value="{{ query }}"{% endif %} placeholder="Search for planes here!">
    </span>
    <span>
      <input type="submit" value="Search" />
    </span>
  </form>
</div>
</center>
{% if not planes %}
<p class="error" style="text-align: center;"><strong>Error: </strong>No planes found.</p>
{% else %}
<div class="plane-grid">
  {% for plane in planes %}
  <div class="plane">
    <a href="/view/{{plane.pid}}">
      <img src="{{plane.image}}" alt="{{ plane.name }}">
    </a>
    <div class="plane-details">
      <h3>{{ plane.name }} ({{ plane.year }})</h3>
      <p>{{ plane.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}