{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container">
  <h1>Login</h1>
  <p>Log into your account (first time logins create an account!)</p>

  {% if error %}
  <p class="error"><strong>Error: </strong>{{ error }}</p>
  {% endif %}

  <form action="/login" method="POST" class="login-form">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <input type="submit" value="Login" class="btn-login">
    </div>
  </form>
</div>
{% endblock %}
