{% extends 'base.html' %} 
{% block title %}
  {{ name }}
{% endblock %} 

{% block content %}

<div style="text-align: center;">

  
  <h2>{{ name }} ({{ year }})</h2>
  
  <div id="head" style="margin: 0 auto; width: fit-content;">
    <img src="{{ image }}" alt="{{ name }}" style="max-width: 100%; height: auto;" />
  </div>
  <hr />
  <div class="description" style="font-size: 32px; text-align: center;">{{ description | safe }}</div>
</div>

{% endblock %}
