<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Admin Dashboard</title>
  <style>
    #danger-btn {
      width: 500px;
      height: 500px;
      border-radius: 50%;
      background-color: red;
      color: white;
      font-size: 30px;
      border: none;
      outline: none;
    }

    #btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <h1>Hi {{ user.username }}!!!</h1>
  <p>Welcome to the admin portal!! I haven't done much yet but here's a flag for now I guess :)</p>
  <p>#ADMIN_FLAG#</p>

  <div id="btn-container">
    <form action="/destruction">
      <input type="submit" id="danger-btn" value="DON'T PUSH" />
    </form>
  </div>
</body>
</html>
