<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Debug Zone™</title>
  <style>
    body {
      color: white;
      overflow: hidden;
      padding: 0px;
      margin: 0px;
    }

    #rainbow {
      /* TODO: negative margin/padding? */
      margin: 0px;
      padding: 10px;
      width: 100vw;
      height: 100vh;
      background-image: conic-gradient(red, orange, yellow, green, blue, purple, red);
    }
  </style>
</head>

<body>
  <div id="rainbow">
    <h1 style="margin-top: 0px;">Welcome to the Debug Zone™, {{ user.username }}!</h1>
    <p>None of us are really sure how we end up here, but why not enjoy yourself while you're at it?</p>
    <p>And of course, a flag for your troubles:</p>
    <p>#DEBUG_FLAG#</p>
  </div>
</body>
</html>
