<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>View Your Notes</title>
  <style>
    #notes {
      width: 100%;
    }

    .note {
      width: 100%;
      background-color: lightgrey;
      margin-bottom: 20px;
      border-radius: 5px;
      padding: 10px;
    }

    nav {
      text-align: right;
    }
  </style>
</head>

<body>
  {% if user.is_admin %}
    <nav>
      <a href="/admin">Admin Portal (under construction)</a>
    </nav>
  {% endif %}

  <h1>Your Notes</h1>

  <div id="notes">
    {% for note in user.notes %}
      <div class="note">
        <h1>{{ note.title }}</h1>
        <p>{{ note.contents }}</p>
      </div>
    {% endfor %}
  </div>

  <h3>Add a new note</h3>
  <form method="post" action="/addnote">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" placeholder="Note title">
    </div>

    <div>
      <label for="contents">Contents:</label>
      <textarea type="text" id="contents" name="contents" placeholder="Something that's on your mind..."></textarea>
    </div>

    <div>
      <input type="submit" value="Add Note">
    </div>
  </form>
</body>
</html>
